<html>
    <head>
        <title>Blog do adelinocpp</title>
    </head>
<body>
    <div>
        <h1><a href="/">Blog Django Girls (por  adelinocpp)</a></h1>
    </div>

    <div>
        <p>publicado: 09.12.2022 16:54 </p>
        <h2><a href="">Post 1</a></h2>
        <p>Brasil fora. (Croácia 4 x 2 Brasil nos penaltis). </p>
    </div>

    <div>
        <p>publicado: 09.12.2022, 16:54</p>
        <h2><a href="">Post II</a></h2>
        <p>Argentina 1 x 0 Holanda.</p>
    </div>
</body>
</html>
